# Binaries
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test output
*.test
*.out
coverage.html
coverage.txt

# Go workspace
go.work
go.work.sum

# Dependency cache
vendor/

# goreleaser
.goreleaser-local.yaml

# sctl cache (when running sctl against itself)
.cache/

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*.swo
